.category {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.04);
	text-transform: uppercase;
	padding: 4px 10px;
	font-weight: 600;
	font-size: 12px;
	color: #333;
	font-family: "Montserrat";
	letter-spacing: 0px;
}

.tag {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.04);
	text-transform: uppercase;
	padding: 0 8px;
	font-weight: 600;
	font-size: 10px;
	color: #333;
	font-family: "Montserrat";
	letter-spacing: 0px;
	border-radius: 12px;
	margin: 0 5px;
}

.reading-card {
	> a {
		display: flex;
		height: 250px;
	}

	&__image {
		max-width: 40%;
	}

	&__details {
		display: flex;
		flex-direction: column;

		&__content {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}

.read-more {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  overflow: hidden;
}
.read-more > span {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  color: #000;
  padding-right: 32px;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  font-family: montserrat;
  cursor: pointer;
}
.read-more > span:before {
  position: absolute;
  content: "";
  background-color: #000;
  margin: auto;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  bottom: 0;
  transform: scaleX(0.2);
  transform-origin: left center;
  animation: read-more-anim;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.6, 0.01, 0, 1);
}
.read-more > span > span {
  display: inline-block;
  position: relative;
  background-color: #fff;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
  transform: translateX(-110%);
  @media screen and (max-width: 767px) {
    transform: translateX(0%);
  }
}
