.tokyo_tm_section .container {
	min-height: 100%;
	height: auto;
}

.tokyo_tm_home {
	.details {
		.name {
			font-size: 50px;
			margin-bottom: 0;
		}

		.job {
			max-width: 450px;
			margin-bottom: 20px;
		}

		@media (max-width: 1040px) {
			.job {
				max-width: 100%;
			}
		}

		.social .svg {
			width: 36px;
			height: 36px;
		}
	}
}



.tokyo_tm_read_more {
	float: none;
}

.tokyo_tm_all_wrap {
	float: none;

	.rightpart_in {
		float: none;
	}

	.leftpart {
		padding: 0 102px;

		.menu {
			a:hover, a.active {
				letter-spacing: 0 !important;
			}
		}
	}
}

.tokyo_tm_title {
	float: none;

	h1 {
		font-weight: 800;
		font-family: "Montserrat";
		font-size: 30px;
	}
}

.tokyo_tm_news.emilepl__readings {
	ul li  {
		.list_inner {
			height: 250px;

			&.no-link {
				cursor: initial;

				.image {
					cursor: initial;
				}

				.title {
					cursor: initial;
				}
			}
		}

		.details .date {
			text-transform: initial;
		}

		.details {
			padding: 15px;
		}
	}
}

.tokyo_tm_news.emilepl__blog {
	float: none;
	padding-bottom: 55px;

	.tokyo_tm_news_inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	ul {
		margin: 0;
	}

	ul li {
		float: none;
		min-width: 415px;
		max-width: 415px;
		padding-left: 0;

		.list_inner {
			display: flex;
			flex-direction: column;
			height: 100%;
			float: none;
			cursor: pointer;

			.details {
				float: none;
				flex-grow: 1;

				display: flex;
				flex-direction: column;

				.intro {
					flex-grow: 1;
				}

				.date {
					text-transform: initial;
				}
			}
		}

		.image {
			aspect-ratio: 1.78 / 1;
		}
	}
}

.tokyo_tm_news.emilepl__blog__single {
	.tokyo_tm_modalbox_news {
		.main_content, .details {
			float: none;
		}

		.details .title {
			margin-bottom: 0;
		}

		.image {
			height: 450px;
			background-size: cover;
			background-position: center center;
		}

		padding-bottom: 45px;
	}

	ul {
		list-style-type: initial;

		li {
			margin: initial;
			float: none;
			width: auto;
			padding-left: initial;
		}
	}
}

.tokyo_tm_about {
	.description {
		.left {
			font-style: normal;

			p {
				margin-bottom: revert;
			}
		}

		.right {
			dl {
				dt {
					min-width: 105px;
					display: inline-block;
					font-weight: 700;
					color: #000;
					float: left;

				}

				dd {
					a {
						@extend %typography-link;
					}
				}
			}
		}
	}
}

@media (max-width: 1600px) {
	.tokyo_tm_all_wrap .leftpart {
		padding: 0 76px;
	}
}

@media (max-width: 1200px) {
	.tokyo_tm_all_wrap .leftpart {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.tokyo_tm_all_wrap .leftpart {
		padding: 0 0;
	}
}

.tokyo_tm_button a:hover,
.ib-button:hover {
	letter-spacing: 0px;
	background-color: grey;
}

.tokyo_tm_button a:disabled,
.ib-button:disabled {
	cursor: initial;
	background-color: grey;
}

.tokyo_tm_all_wrap .leftpart_languages {
	font-style: italic;
	font-size: 14px;
	line-height: 18px;
	margin-top: 8px;

	& a {
		text-decoration: underline;
	}
}

.tokyo__bigger,
.tokyo_tm_modalbox_news .main_content .bigger {
	color: #888;
	font-size: 20px;
	margin-bottom: 33px;
}
