body {
	font-family: 'Nunito';
	letter-spacing: 0;
	font-size: 16px;

	a {
		text-decoration: none;
		color: unset;
	}
}

.typography {
	p {
		color: var(--text-color);
		hyphens: auto;
		text-align: justify;
		margin-bottom: 12px;
	}

	a {
		@extend %typography-link;
		hyphens: none;
	}

	.tokyo_tm_button a {
		color: white;
		text-decoration: none;

		&:hover, &.active {
			color: white;
		}
	}
}

%typography-link {
	color: black;
	text-decoration: underline;

	&:hover, &.active {
		color: var(--accent-color);
	}
}
