body {
	font-family: 'Nunito';
	letter-spacing: 0;
	font-size: 16px;
}

.typography {
	p {
		hyphens: auto;
		text-align: justify;
	}

	a {
		color: black;
		text-decoration: none;

		&:hover, &.active {
			color: var(--text-color);
		}
	}
}
